.mo .my_profile[data-v-708ef468], .sm .my_profile[data-v-708ef468] {
    padding: 0 24px 80px;
}
.btn-border {
    align-items: center;
    background-color: #fff;
    color: rgba(34,34,34,.8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.btn-small {
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    padding: 2px 14px;
}
.label-button{
    padding: 2px 14px;
    align-items: center;
    background-color: #fff;
    color: rgba(34,34,34,.8);
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    height: 34px;
}
.profile_group .modify .input_txt[data-v-5ee806c3] {
    font-size: 15px;
    letter-spacing: -.15px;
    padding: 7px 0;
}

.input_txt[data-v-5ee806c3] {
    border: 0;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 22px;
    padding: 8px 0;
    width: 100%;
}

.post-image {
    width: 85%;
    height: 85%;
}

.bottom-border{
    border-bottom: 1px solid #ebebeb;
}

.padding-top-15{
    padding-top: 15px;
}

.post-new-section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17%;
    max-width: 660px;

    padding: 10px;
}

.social_common_empty[data-v-77ec7817] .btn {
    font-weight: 600;
}

.outline[data-v-0a6aebaa] {
    border: 1px solid #d3d3d3;
}

.top-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.content-text{
    border: 1px solid #ebebeb;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
    resize: none;
}

.hashtag-div{
    height: 40px;
    display: flex;
    align-items: center;
}

.plus-icon{
    height: 100%;
    padding-top: 5px;
    cursor: pointer;
}

.minus-icon {
    height: 74%;
    padding-top: 6px;
    cursor: pointer;
}
.image-div{
    height: 38px;
    display: flex;
    align-items: center;
}