<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.betweenls.fashtag.post.mapper.CommentMapper">


	<select id="getCommentListByPostId" resultType="org.betweenls.fashtag.post.domain.CommentVO">
		select y.commentId, y.commentContent, y.createdAt, y.updatedAt, y.postId, y.userId, y.nickname, y.profile
		from
			(select x.*, rownum rnum
			 from
				 (select c.commentId, c.commentContent, c.createdAt, c.updatedAt, c.postId, c.userId,  (select nickname
																										from users
																											where userId = c.userId) nickname,
																									   (select profile
																									    from users
																									    where userId = c.userId) profile
				  from comments c
				  where c.postId = #{postId}
				  order by commentId desc)x)y
		where y.rnum between #{startPage} and #{endPage}
	</select>

	<select id="getCommentNum">
		select count(*)
		from comments
		where postid = ${postId}
	</select>

	<insert id="insertComment" parameterType="org.betweenls.fashtag.post.domain.CommentVO">
		insert into comments (commentId, commentContent, postId, userId)
		values (seq_comments.nextval, #{commentContent}, #{postId}, #{userId})
	</insert>

	<delete id="deleteCommentByCommentId">
		delete comments
		where commentId=${commentId}
	</delete>


</mapper>